{{ define "main" }}
  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    {{/*
      This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
       */}}
       <article class="pa3 pa4-ns nested-copy-line-height">
         <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param " text_color" |
           default "mid-gray" }}">
           Lista de los proyectos que he realizado durante el ciclo superior de desarrollo de aplicaciones web.
         </section>
         <aside class="flex-ns flex-wrap justify-around mt5">
           <div class="relative w-100 w-30-l mb4 bg-white">
             <div class="relative w-100 mb4 bg-white nested-copy-line-height">
               <div class="bg-white mb3 pa4 gray overflow-hidden">
                 <span class="f6 db">Gener 2023</span>
                 <h1 class="f3 near-black">
                   <a href="https://git.copernic.cat/carne.plandolit.xavier/gexpenses" class="link black dim">
                     GExpenses
                   </a>
                 </h1>
                 <div class="nested-links f5 lh-copy nested-copy-line-height">
                   Aplicación web desarrollada con HTML5, Javascript como front y PHP como back. El proposito de la web es la gestión contable de gastos compartidos entre personas al realizar actividades.
                 </div>
               </div>
              </br>
               <div class="bg-white mb3 pa4 gray overflow-hidden">
                 <span class="f6 db">Maig 2023</span>
                 <h1 class="f3 near-black">
                   <a href="https://gitlab.com/ivanreyes009/dip-maketplacebackup" class="link black dim">
                     DIP MarketPlace
                   </a>
                 </h1>
                 <div class="nested-links f5 lh-copy nested-copy-line-height">
                   Aplicación web desarrollada en PHP con Laravel como framework. Es un marketplace de compra-venta de productos.
                 </div>
               </div>
              </br>
               <div class="bg-white mb3 pa4 gray overflow-hidden">
                 <span class="f6 db">Maig 2023</span>
                 <h1 class="f3 near-black">
                   <a href="https://gitlab.com/jethrotul/animalpack" class="link black dim">
                     AnimalPack
                   </a>
                 </h1>
                 <div class="nested-links f5 lh-copy nested-copy-line-height">
                   Aplicación web desarrollada en PHP con Laravel como framework. Es una aplicación de gestión de mascotas donde incluimos datos de Alimentación, ejercicio físico o estado de vacunación.
                 </div>
               </div>
            </div>
           </div>
         </aside>
       </article>
  {{ end }}
{{ end }}
